<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <%- include('./layout/nav'); %>
  </header>
  <main>
    <div class="max-w-screen-md mx-auto p-5 ">
      <div class="text-center mt-16">
        <p class="my-4 text-4xl leading-7 text-gray-500 font-regular uppercase dark:text-white">
          sing-up admin
        </p>
      </div>
      <form id="form-main" action="/loginadmin" method="post" class="w-full p-5 border-4 border-white rounded">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 dark:text-white"
              for="grid-first-name">
              username:
            </label>
            <input id="username" type="text" value="<% try{if(data.username){%><%=data.username%><%}}catch{}%>"
              name="username"
              class="appearance-none block w-full border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white dark:text-[#000]"
              placeholder="username" required>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 dark:text-white"
              for="grid-password">
              password:
            </label>
            <input id="password" type="password" name="password"
              class="appearance-none block w-full border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:text-[#000]"
              placeholder="password" required>
          </div>
          <%try{ if(error.common){ %>
            <p class="text-red-500">
              <%= error.common.msg %>
            </p>
            <% }}catch{} %>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">

          <div class="flex justify-between w-full px-3">
            <div class="md:flex md:items-center">
              <label class="block text-gray-500 font-bold">
                <input id="send-otp" class="mr-2 leading-tight" type="checkbox"
                  onchange="document.getElementById('addANewAdmin').disabled = !this.checked;">
                <span class="text-sm">
                  Yes, i am an admin of <%= _ORG_NAME %>!
                </span>
              </label>
            </div>
            <button id="addANewAdmin"
              class="addANewAdmin shadow bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none disabled:bg-neutral-400 disabled:opacity-75 text-white font-bold py-2 px-6 rounded"
              type="submit" disabled>
              Send..
            </button>
          </div>

        </div>

      </form>
    </div>

  </main>
</body>

</html>
<!-- <   %  - include('./layout/footer') %  > -->